<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>\approx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>\cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>\ctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>\deg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>\down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏎</string>
		<key>shortcut</key>
		<string>\enter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∅</string>
		<key>shortcut</key>
		<string>\es</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>\forall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>\huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仮</string>
		<key>shortcut</key>
		<string>\kari</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>\left</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ͡° ͜ʖ ͡°)</string>
		<key>shortcut</key>
		<string>\lenny</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>\mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>\opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>\right</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>\shift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〆</string>
		<key>shortcut</key>
		<string>\shime</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>\shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💀</string>
		<key>shortcut</key>
		<string>\skull</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>√</string>
		<key>shortcut</key>
		<string>\sqrt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°）╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>\tableflip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝜃</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⨯</string>
		<key>shortcut</key>
		<string>\times</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>\up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁰</string>
		<key>shortcut</key>
		<string>^0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¹</string>
		<key>shortcut</key>
		<string>^1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁴</string>
		<key>shortcut</key>
		<string>^4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁵</string>
		<key>shortcut</key>
		<string>^5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁶</string>
		<key>shortcut</key>
		<string>^6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁷</string>
		<key>shortcut</key>
		<string>^7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁸</string>
		<key>shortcut</key>
		<string>^8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁹</string>
		<key>shortcut</key>
		<string>^9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>=&gt;</string>
	</dict>
</array>
</plist>
