<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>\approx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>\cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>\ctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>\deg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>\down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏎</string>
		<key>shortcut</key>
		<string>\enter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∅</string>
		<key>shortcut</key>
		<string>\es</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>\forall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😭</string>
		<key>shortcut</key>
		<string>\huo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>仮</string>
		<key>shortcut</key>
		<string>\kari</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>\left</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ͡° ͜ʖ ͡°)</string>
		<key>shortcut</key>
		<string>\lenny</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>\mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>\opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>\right</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>\shift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〆</string>
		<key>shortcut</key>
		<string>\shime</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>\shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💀</string>
		<key>shortcut</key>
		<string>\skull</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>√</string>
		<key>shortcut</key>
		<string>\sqrt</string>
	</dict>
  <dict>
    <key>phrase</key>
    <string>⇥</string>
    <key>shortcut</key>
    <string>\tab</string>
  </dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°）╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>\tableflip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝜃</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⨯</string>
		<key>shortcut</key>
		<string>\times</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>\up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁰</string>
		<key>shortcut</key>
		<string>^0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¹</string>
		<key>shortcut</key>
		<string>^1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁴</string>
		<key>shortcut</key>
		<string>^4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁵</string>
		<key>shortcut</key>
		<string>^5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁶</string>
		<key>shortcut</key>
		<string>^6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁷</string>
		<key>shortcut</key>
		<string>^7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁸</string>
		<key>shortcut</key>
		<string>^8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁹</string>
		<key>shortcut</key>
		<string>^9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>=&gt;</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Α</string>
	    <key>shortcut</key>
	    <string>\Alpha</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>α</string>
	    <key>shortcut</key>
	    <string>\alpha</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Β</string>
	    <key>shortcut</key>
	    <string>\Beta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>β</string>
	    <key>shortcut</key>
	    <string>\beta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Γ</string>
	    <key>shortcut</key>
	    <string>\Gamma</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>γ</string>
	    <key>shortcut</key>
	    <string>\gamma</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Δ</string>
	    <key>shortcut</key>
	    <string>\Delta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>δ</string>
	    <key>shortcut</key>
	    <string>\delta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ε</string>
	    <key>shortcut</key>
	    <string>\Epsilon</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ε</string>
	    <key>shortcut</key>
	    <string>\epsilon</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ζ</string>
	    <key>shortcut</key>
	    <string>\Zeta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ζ</string>
	    <key>shortcut</key>
	    <string>\zeta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Η</string>
	    <key>shortcut</key>
	    <string>\Eta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>η</string>
	    <key>shortcut</key>
	    <string>\eta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Θ</string>
	    <key>shortcut</key>
	    <string>\Theta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>θ</string>
	    <key>shortcut</key>
	    <string>\theta</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ι</string>
	    <key>shortcut</key>
	    <string>\Iota</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ι</string>
	    <key>shortcut</key>
	    <string>\iota</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Κ</string>
	    <key>shortcut</key>
	    <string>\Kappa</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>κ</string>
	    <key>shortcut</key>
	    <string>\kappa</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Λ</string>
	    <key>shortcut</key>
	    <string>\Lambda</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>λ</string>
	    <key>shortcut</key>
	    <string>\lambda</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Μ</string>
	    <key>shortcut</key>
	    <string>\Mu</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>μ</string>
	    <key>shortcut</key>
	    <string>\mu</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ν</string>
	    <key>shortcut</key>
	    <string>\Nu</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ν</string>
	    <key>shortcut</key>
	    <string>\nu</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ξ</string>
	    <key>shortcut</key>
	    <string>\Xi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ξ</string>
	    <key>shortcut</key>
	    <string>\xi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ο</string>
	    <key>shortcut</key>
	    <string>\Omicron</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ο</string>
	    <key>shortcut</key>
	    <string>\omicron</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Π</string>
	    <key>shortcut</key>
	    <string>\Pi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>π</string>
	    <key>shortcut</key>
	    <string>\pi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ρ</string>
	    <key>shortcut</key>
	    <string>\Rho</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ρ</string>
	    <key>shortcut</key>
	    <string>\rho</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Σ</string>
	    <key>shortcut</key>
	    <string>\Sigma</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>σ</string>
	    <key>shortcut</key>
	    <string>\sigma</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Τ</string>
	    <key>shortcut</key>
	    <string>\Tau</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>τ</string>
	    <key>shortcut</key>
	    <string>\tau</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Υ</string>
	    <key>shortcut</key>
	    <string>\Upsilon</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>υ</string>
	    <key>shortcut</key>
	    <string>\upsilon</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Φ</string>
	    <key>shortcut</key>
	    <string>\Phi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>φ</string>
	    <key>shortcut</key>
	    <string>\phi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Χ</string>
	    <key>shortcut</key>
	    <string>\Chi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>χ</string>
	    <key>shortcut</key>
	    <string>\chi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ψ</string>
	    <key>shortcut</key>
	    <string>\Psi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ψ</string>
	    <key>shortcut</key>
	    <string>\psi</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>Ω</string>
	    <key>shortcut</key>
	    <string>\Omega</string>
	</dict>
	<dict>
	    <key>phrase</key>
	    <string>ω</string>
	    <key>shortcut</key>
	    <string>\omega</string>
	</dict>

</array>
</plist>
